body {
  margin: 0;
  padding: 0;
  background: #64b8fc;
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  cursor: pointer;
}

.hidden {
  max-width: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}

.text:hover .hidden {
  opacity: 1;
  max-width: 1em;
}
